{% load blogapp_tags wagtailroutablepage_tags %}

<div class="col-md-4">

	{% if blog_page %}
		
		<div class="card mb-4">
			<h5 class="card-header">Buscar</h5>
			<div class="card-body">
				
				<form role="search" method="get" action="{% routablepageurl blog_page "post_search" %}">
					<div class="input-group mb-3">
						<input type="text" class="form-control search-query" name="q" placeholder="Buscar&hellip;" title="Buscar por:" />
						<button class="btn btn-secondary" type="submit">Buscar</button>
					</div>
				</form>
				
			</div>
		</div>

	{% categories_list %}
	
	{% tags_list %}
	
	{% endif %}
</div>