{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags blogapp_tags %}

{% block content %}

	{% if page.filter_term %}
		<div class="alert alert-success">
			Postagens para <span>{{ page.filter_type }}: {{ page.filter_term }}</span>
		</div>
	{% endif %}

	{% for post in posts %}
		<div class="card mb-4">
			{% if post.header_image %}
				{% image post.header_image original as header_image %}
				<a href="{% post_page_date_slug_url post blog_page %}">
					<img src="{{ header_image.url }}" class="card-img-top">
				</a>
			{% endif %}

			<div class="card-body">
				<h2 class="card-title">
					<a class="text-decoration-none" href="{% post_page_date_slug_url post blog_page %}">{{ post.title }}</a>
				</h2>
				<p class="card-text">
					{{ post.description }}
				</p>
				<a href="{% post_page_date_slug_url post blog_page %}" class="btn btn-primary">Leia Mais &rarr;</a>
			</div>

			<div class="card-footer text-muted">
				Postado em {{ post.last_published_at }}
			</div>

		</div>
	{% endfor %}

	{% include "blog/components/pagination.html" %}

{% endblock content %}